{{ "<!-- Osano CookieConsent Javascript: https://www.osano.com/cookieconsent/documentation/about-cookie-consent/ -->"
| safeHTML }}
{{- /* Cache the cookie via resources.GetRemote for ensuring functionality */ -}}
{{- $cookieconsent_url := resources.GetRemote "https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"
-}}
{{- with $cookieconsent_url }}
<script src="{{ .RelPermalink }}"></script>
<script>
    window.cookieconsent.initialise({
        "palette": {
            "popup": {
                "background": "#aa0000",
                "text": "#ffdddd"
            },
            "button": {
                "background": "transparent",
                "text": "#ffdddd",
                "border": "#ff0000"
            }
        },
        "position": "bottom-right",
        "content": {
            "message": "This website uses services that may set up cookies. Ad blockers may limit the site functionality. The 3rd party services in use are: AddToAny (share content button), Disqus (add comment), Google Analitycs (analytics)."
        }
    });
</script>
{{ end -}}
